fieldset{
    width: 60%;
    margin: auto;
    border: 2px solid blueviolet;
    border-radius: 5px;
    margin-top: 30px;
}

body{
    font-family: Helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;
    color: blue;
}

label, input{
    display: block;    
}

input, select{
    margin-top: 5px;
    margin-bottom: 5px;
    border: 2px solid blueviolet;
    border-radius: 5px;
}

input[type=text], input[type=email], input[type=password], select{
    width: 300px;
}

.larguraTexto{
    height: 30px;
}

input:focus, select:focus{
    background-color: lightblue;
}

.bt{
    border: 2px solid blueviolet;
    border-radius: 5px;
    background-color: blueviolet;
    color: #FFF;
    padding: 5px 10px;
    font-weight: bold;
    float: right;
}

.bt:hover{
    background-color: #FFF;
    color: blueviolet;
    cursor: pointer;
}

.bt_voltar{
    border: 2px solid blueviolet;
    border-radius: 5px;
    background-color: blueviolet;
    color: #FFF;
    padding: 5px 10px;
    font-weight: bold;
    float: right;
    margin-right: 475px;
    margin-top: 25px;
}

.bt_voltar:hover{
    background-color: #FFF;
    color: blueviolet;
    cursor: pointer;
}

#img-java{
    float: right;
    width: 85px;
    height: 100px;
    margin-right: 30px;
}

#espacamento{
    margin-left: 5px;
}

.bloco-inline label, .bloco-inline input{
    display: inline;
}

H1{
	 background-color: #ddd;
    text-align: center;
}

#customers, H1 {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 50%;
    margin: auto;
    margin-top: 30px;
  }
  
  #customers td {
    border: 1px solid blueviolet;
    padding: 8px;
  }
  
  #customers tr:nth-child(even){background-color: #f2f2f2;}
  
  #customers tr:hover {background-color: #ddd;}
  
  #customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: blueviolet;
    color:#fff;
    border: 1px solid #ddd;
    text-align: center;
  }
  
  ul{
    background-color: blueviolet;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li{
    float: left;
}

li a{
    color:#FFF;
    padding: 16px;
    display: block;
    text-align: center;
    text-decoration: none;
}

li a:hover{
    background-color: blue;
    color:#FFF;
}
